<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476182293945-mgph4c2fhpl5r8c5i3u9do0t3v4gt72q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476182293945-mgph4c2fhpl5r8c5i3u9do0t3v4gt72q</string>
	<key>API_KEY</key>
	<string>AIzaSyAWeKwZDXVV5ATPWV0UkA6ZkdkZ4JU6ils</string>
	<key>GCM_SENDER_ID</key>
	<string>476182293945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eww.Ladapassenger</string>
	<key>PROJECT_ID</key>
	<string>wired-summit-293911</string>
	<key>STORAGE_BUCKET</key>
	<string>wired-summit-293911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476182293945:ios:fa410e77502a7d9bb6da68</string>
	<key>DATABASE_URL</key>
	<string>https://wired-summit-293911.firebaseio.com</string>
</dict>
</plist>